@import "../uqlibrary-elements/resources/theme/element";

:host {
}

paper-tabs {
  background-color: $dropdown-background;
  max-width: 830px;
  margin-bottom: 10px;
}

paper-tab {
  text-align: center;
  min-width: 100px;
}

paper-tab.core-selected {
  background-color: $teal-500;
  color: white;
}

